<!DOCTYPE html>
<html>
<head>
  <title><%= pageTitle %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <style>
    body {
      background-color: #e3f2fd;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
    }
    h1 {
      color: #1976D2;
    }
    a {
      text-decoration: none;
      color: #1976D2;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= pageTitle %></h1>

        <div class="alert alert-success alert-message" role="alert">
          Thank you for your message!
        </div>

        <div class="contact-box">
          <div class="contact-info">
            <p><strong>Email:</strong> aangadi@hawk.iit.edu</p>
            <p><strong>Phone:</strong> +91 9738045396</p>
            <p><strong>Location:</strong> Dharwad, Karnataka, India.</p>
          </div>

          <ul class="contact-links">
            <li><a href="https://www.linkedin.com/in/akhilesh-angadi" target="_blank">LinkedIn</a></li>
            <li><a href="https://twitter.com/AngadiAkhilesh" target="_blank">Twitter</a></li>
            <li><a href="https://github.com/aangadiIIT" target="_blank">GitHub</a></li>
          </ul>
        </div>

        <!-- Contact Form -->
        <div class="contact-box">
          <h2>Feedback/Post a message</h2>
          <div class="contact-form">
            <form id="messageForm" action="/contact-me/submit-message" method="post">
              <div class="mb-3">
                <label for="name" class="form-label">Your Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Your Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Your Message:</label>
                <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit Message</button>
            </form>
          </div>
        </div>
        <p><a href="/view-messages">View Posted Messages</a></p>
        <p><a href="/">Back to Home</a></p>
      </div>
    </div>
  </div>

  <script>

    const alertMessage = document.querySelector('.alert-message');
    const messageForm = document.getElementById('messageForm');

    if (window.location.search.includes('thanks=true')) {
      alertMessage.style.display = 'block';
      setTimeout(() => {
        alertMessage.style.display = 'none';
      }, 5000);
      window.history.replaceState(null, null, '/contact-me');
    }

    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    if (params.error) {
      messageForm.scrollIntoView({ behavior: 'smooth' });
    }
  </script>
</body>
</html>
